/* custom.css */

/* Genel Stil Düzenlemeleri */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Stili */
.navbar {
    background-color: #4e73df;
}

    .navbar a {
        color: white !important;
    }

/* Sayfa Başlığı */
h1 {
    color: #4e73df;
}

/* Güncelle Butonu */
.btn-warning {
    background-color: #f6c23e;
    border-color: #f6c23e;
    color: #fff;
}

    .btn-warning:hover {
        background-color: #dda20a;
        border-color: #dda20a;
    }
