@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Admin Dashboard</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/Employee/Index" class="btn btn-primary btn-block">Çalışan Yönetimi</a>
        </div>
        <div class="col-md-4">
            <a href="/Salon/Index" class="btn btn-primary btn-block">Salon Yönetimi</a>
        </div>
        <div class="col-md-4">
            <a href="/Appointment/Index" class="btn btn-primary btn-block">Randevu Yönetimi</a>
        </div>
    </div>
</div>
