@{
    ViewData["Title"] = "Erişim Engellendi";
}

<h1 class="text-danger">Erişim Engellendi</h1>
<p>Bu sayfaya erişim yetkiniz yoktur.</p>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Giriş Sayfasına Dön</a>
